
.container{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: solid 4px black;
  background-color: lightblue;
}
h2{
  font-family: 'Amita';
  font-size: 25px
  font-style: oblique;
}

h1{
  width: 100%;
  text-align: center;
  background-color: #F5DFB3;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  font-weight: bolder;
  margin-bottom: 20px;
  font-style: oblique;
}

h3{
font-family: 'Abril Fatface';
font-size: 30px;
font-style: italic;
font-weight: 100;
}

h4{
  font-weight: bolder;
  font-family: 'Aclonica';
  font-size: 25px
  font
}

#submitButton{
  background-color: lightgreen;
}

#sidebar{
  margin: 0;
  background-color: pink;
  padding-bottom: 0%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
